extends ../layouts/app

block content
    .has-margin-4
        .notification
            span.is-size-4 Welcome, #{name} - #{email}

        .tabs
            ul
                li
                    a(href="/manager/dashboard") Un-Assigned Jobs
                li.is-active 
                    a(href="/manager/candidates") Candidates Recieved
                li
                    a(href="/manager/assigned") Assigned Jobs 

        .columns.is-multiline.has-margin-4
            each candidate in candidates
                .column.is-3
                    .card
                        .card-content
                            p.is-size-4 #{candidate.name} - #{candidate.assigned_job.company}
                            p.is-size-5 #{candidate.assigned_job.company}, #{candidate.assigned_job.name}
                            p.is-size-6 #{candidate.title}, #{candidate.qualification}

                            hr

                            p Experience: #{candidate.experience} years
                            p Skills: #{candidate.skills}
                            p Qualification: #{candidate.qualification}
